# Copia este archivo como .env y ajusta los valores

DB_HOST=127.0.0.1           # nombre del contenedor/servicio MySQL
DB_PORT=3306
DB_NAME=userDB
DB_USER=root
DB_PASS=contra123

DOCKER_NETWORK=mysql_default   # resultado de: docker network ls
